*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: ArmVineta;
    src: url(../fonts/ArmVineta.ttf);
}
body {
    overflow: hidden;
}
.gameMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100%;
    left: 0;
    background: url(../img/menuBackground.jpg) no-repeat center / cover;
    transition: 1s;
    z-index: 12;
}
.gameMenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffffa8 0 6%, transparent 21% 65%, #ffffffc4 98% 100%), linear-gradient(to bottom, #74a6dc 0 6%, transparent 21% 65%, #418193 98% 100%);
}
.gameMenu .cloud1 {
    width: 300px;
    height: 165px;
    position: absolute;
    top: -1%;
    left: 1%;
    background: url(../img/cloud1.png) no-repeat center / contain;
}
.gameMenu .cloud2 {
    width: 300px;
    height: 165px;
    position: absolute;
    top: 13%;
    right: 5%;
    background: url(../img/cloud1.png) no-repeat center / contain;
}
.gameMenu h1 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 7%;
    font-size: 4.5em;
    font-family: ArmVineta;
    color: #ed5400;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 14px #fff, 0 0 5px #fff;
    letter-spacing: 5px;
    text-align: center;
}
.gameMenu h5 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: 20px cursive;
	color: #fff;
}
.gameMenu .control {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
}
.gameMenu .control .ctrBut {
    background: url(../img/menuButton.png) no-repeat center / contain;
    border: 0;
    outline: 0;
    width: 250px;
    cursor: pointer;
    color: #fff;
    height: 90px;
    transform: scale(1);
    letter-spacing: 2px;
    display: block;
    transition: 1s;
}
.gameMenu .control .ctrBut:hover {
    filter: hue-rotate(-162deg);
    transition: 0s;
}
.gameMenu .control .ctrBut:active {
    filter: hue-rotate(-254deg);
    transition: .2s;
}
.gameMenu .control .ctrBut span {
    font-size: 30px;
    display: block;
    margin-top: -5px;
}
.level1 {
    background: url(../img/Level1bg.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
}
.level1 .boxBlock {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    padding: 20px 0;
}
.level1 .boxBlock .box {
    width: 65px;
    height: 65px;
    margin: 3px;
    border: 1px solid #000;
    background: #fff;
    transition: .3s;
}
.gameMenu .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, #570cae, #b80807);
    z-index: 10;
    overflow: auto;
    padding: 15px 0;
    display: none;
}
.gameMenu .description::-webkit-scrollbar {
    width: 10px;
    background: #000;
}
.gameMenu .description::-webkit-scrollbar-thumb {
    width: 10px;
    background: #fff;
    border-radius: 80px;
}
.gameMenu .description .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #000;
    border-radius: 20px;
    width: 50%;
    height: 124px;
    margin: 15px auto;
    padding-left: 30px;
    background: #fff;
}
.gameMenu .description .item.authors {
    text-align: center;
    justify-content: center;
    font-family: cursive;
    padding: 0;
}
.gameMenu .description .item:nth-child(2) p {
    font-family: monospace;
}
.gameMenu .description .closeDescr {
    position: absolute;
    top: 0;
    right: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    transition: .3s;
    opacity: .8;
}
.gameMenu .description .closeDescr:hover {
    transform: scale(1.15);
    opacity: 1;
}
.gameMenu .description .item.authors p {
    font-size: 30px;
}
.gameMenu .description .item:nth-child(3) img,
.gameMenu .description .item:nth-child(4) img {
    height: 80px;
}
.gameMenu .description .item img.descrIce {
    filter: hue-rotate(450deg);
}
.gameMenu .description .item img.descrBomb {
    filter: brightness(245%) sepia(138%) hue-rotate(279deg);
}
.gameMenu .description .item img {
    height: 85px;
    margin-right: 15px;
    width: 85px;
    object-fit: contain;
}
.gameMenu .description .item p {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.levelsGame .levelsControlPanel {
    padding: 5px 5px 0;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.3), rgba(0,0,0,.1), transparent);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.levelsGame .levelsControlPanel .backMenu {
    padding: 7px 20px;
    cursor: pointer;
    outline: 0;
    background: linear-gradient(to bottom, #FF5500, #FF6E17, #FF7A2D, #FF8B4A, #FF9358);
    color: #fff;
    font-size: 20px;
    border: 6px ridge #a28c36;
    border-radius: 25px;
    transition: .5s;
}
.levelsGame .levelsControlPanel .backMenu:hover {
    filter: hue-rotate(62deg);
}
.levelsGame .levelsControlPanel .backMenu:active {
    filter: hue-rotate(188deg);
}
.levelsGame .levelsControlPanel .timeBlock .time {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(90deg, #00beff 0 19%, white 16% 52%, #f5ff58 59%);
    -webkit-background-clip: text;
    font-family: fantasy;
    font-weight: 200;
}
.levelsGame .levelsControlPanel .timeBlock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    filter: drop-shadow(2px 0 3px #000) drop-shadow(-2px 0 0px #000);
}
.effectPlayGame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #100e0e 50%, transparent 100%);
    transition: .7s;
    z-index: 11;
    animation: effectRemoveBefore 1.5s ease .3s forwards;
}
.effectPlayGame::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #100e0e 50%, transparent 100%);
    transition: .7s;
    z-index: 11;
    animation: effectRemoveAfter 1.5s ease .3s forwards;
}
.effectPlayGame.activeNext::before {
    animation: effectAddEfBefore 1.5s ease forwards;
}
.effectPlayGame.activeNext::after {
    animation: effectAddEfAfter 1.5s ease forwards;
}
@keyframes effectRemoveBefore {
    to { left: -100%; }
}
@keyframes effectRemoveAfter {
    to { right: -100%; }
}
@keyframes effectAddEfBefore {
    from { left: -100%; }
    to { left: 0%; }
}
@keyframes effectAddEfAfter {
    from { right: -100%; }
    to { right: 0%; }
}
.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}
.overlay h4 {
    font-size: 10em;
    font-family: 'ArmVineta';
    color: #ffff;
    text-shadow: 0 0 13px #0d00ff;
    transition: .3s;
}
.gameOver {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.gameOver h4 {
    font-size: 5em;
    font-family: 'ArmVineta';
    color: red;
    text-shadow: 0 0 13px #0d00ff;
    transition: .5s;
    width: 100%;
    text-align: center;
}
.gameOver .replay {
    font-family: cursive;
    padding: 7px 37px 13px;
    cursor: pointer;
    outline: 0;
    background: black;
    color: #fff;
    font-size: 27px;
    border: 6px dashed #a28c36;
    border-radius: 50px;
    transition: .5s;
    margin-top: 30px;
}
.gameOver .replay:hover {
    border: 6px dashed #fff;
}
.levelsGame .levelsControlPanel .pointCount {
    color: #fff;
    text-shadow: 0 0 3px #000;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    gap: 2px;
}
.levelsGame .levelsControlPanel .pointCount .name {
    font-size: 27px;
    margin-top: 6px;
}
.levelsGame .levelsControlPanel .pointCount .point {
    font-size: 42px;
    width: 60px;
    text-align: right;
}
.levelsGame .levelsControlPanel .pointCount .all {
    font-size: 42px;
}
.winner {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 10;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    opacity: 0;
    visibility: hidden;
}
.winner.win {
    opacity: 1;
    visibility: visible;
}
.winner img {
    height: 500px;
    transform: translateX(140%);
}
.winner h4 {
    font-size: 4.5em;
    color: #fff;
    text-shadow: 0 0 5px #96d6ef, 0 0 6px #26baef;
    transform: translateX(300%);
    transition: .5s;
}
.winner.win img {
    animation: fireWorkAnim .8s ease-in .3s forwards;  
}
.winner.win.winPart2 img {
    animation: fireWorkAnim2 .8s ease-in forwards;  
}
.winner.win h4 {
    animation: nameWin .8s ease-in .3s forwards;
}
.winner.win.winPart2 h4 {
    opacity: 0;
    visibility: hidden;
}
@keyframes nameWin {
    0% { transform: translateX(300%); }
    70% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@keyframes fireWorkAnim {
    to { transform: translateX(0); }
}
@keyframes fireWorkAnim2 {
    from { transform: translateX(0); }
    to { transform: translateX(-150%); }
}

/* Room */
.levelsMenu {
    width: 100%;
    height: 100vh;
    background: url(../img/levelsMenu.jpg) no-repeat center / cover;
    perspective: 850px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: 1s .3s;
    visibility: hidden;
}
.levelsMenu.next {
    left: 0;
    visibility: visible;
}
.levelsMenu .levels {
    width: 57%;
    height: 92vh;
    transform-style: preserve-3d;
    position: relative;
    transform: translateZ(10em) translate(-30%, 19%);
}
.levelsMenu .levels .item {
    width: 310px;
    height: 200px;
    position: absolute;
    border: 5px dashed #fff;
    animation: levelsBoxShadow 2.8s linear infinite;
    cursor: pointer;
    transition: .5s;
    text-align: center;
    outline: 2px solid #fff;
    outline-offset: 5px;
    outline-style: dotted;
}
.levelsMenu .levels .item h2 {
    color: #000;
    text-shadow: 1px -1px 3px #fff, -2px 1px 2px #fff;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 33px;
    margin-top: 5px;
    font-weight: bold;
}
.levelsMenu .levels .item .playGameIcon {
    width: 60px;
    height: 60px;
    background: url(../img/playGame.png) no-repeat center / contain;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff);
    animation: playGameIcon .5s ease infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
}
@keyframes playGameIcon {
    from { transform: translate(-50%, -50%) scale(1); }
    to { transform: translate(-50%, -50%) scale(1.2); }
}
.levelsMenu .levels .item.lev1:hover {
    transform: scale(1.05);
}
.levelsMenu .levels .item.lev1 .playGameIcon {
    filter: grayscale(100%);
}
@keyframes levelsBoxShadow {
    0% { box-shadow: 7px 6px 12px #f00; }
    20% { box-shadow: 7px 6px 12px #fff700; }
    40% { box-shadow: 7px 6px 12px #3fff00; }
    60% { box-shadow: 7px 6px 12px #00ffe7; }
    80% { box-shadow: 7px 6px 12px #1000ff; }
    100% { box-shadow: 7px 6px 12px #b400ff; }
}
.levelsMenu .levels .item.lev1 {
    background: url(../img/lev1.jpg) no-repeat center / cover;
    top: 30%;
    left: -85px;
    z-index: 1;
}
.levelsMenu .levels .item.lev2 {
    background: url(../img/lev2.jpg) no-repeat center / cover; 
    top: 15%;
    left: 250px;
    transform: translateZ(-160px);
}
.levelsMenu .levels .item.lev2 .star {
    width: 45px;
    height: 45px;
    background: url(../img/starSilver.png) no-repeat center / contain;
}
.levelsMenu .levels .item.lev3 {
    background: url(../img/lev3.jpg) no-repeat center / cover;
    top: 0%;
    left: 520px;
    transform: translateZ(-360px);
}
.levelsMenu .levels .item.lev4 {
    background: url(../img/lev4.jpg) no-repeat center / cover;
    top: -20%;
    left: 820px;
    transform: translateZ(-560px);
}
.levelsMenu .levels .item + .item + .item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}
.levelsMenu .levels .item .lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    opacity: .8;
}
.levelsMenu .levels .item.lev1 .star {
    width: 45px;
    height: 45px;
    background: url(../img/starYellow.png) no-repeat center / contain;
}
.levelsMenu .levels .item .starBlock {
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 0px #000000) drop-shadow(0px 0px 0px #000000);
    position: absolute;
    top: 135px;
    left: 10px;
}
.levelsMenu .backMenu {
    position: absolute;
    top: 3%;
    left: 1%;
    padding: 7px 20px;
    cursor: pointer;
    outline: 0;
    background: linear-gradient(to bottom, #FF5500, #FF6E17, #FF7A2D, #FF8B4A, #FF9358);
    color: #fff;
    font-size: 20px;
    border: 6px ridge #a28c36;
    border-radius: 25px;
    transition: .5s;
}
.levelsMenu .backMenu:hover {
    filter: hue-rotate(62deg);
}
.levelsMenu .backMenu:active {
    filter: hue-rotate(188deg);
}


